<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    
</head>
<body>
    <h1><%=egypt.name%></h1>
    <p>Often appearing as a <%=egypt.appearance%> is god of <%=egypt.realm%></p>
    <% if (egypt.isAlive === true) {%>
        <p><%=egypt.name%> is still alive this day.</p>
    <%} else {%>
        <p><%=egypt.name%> is dead.</p>
    <%}%>
    <a href="/egypt"><button type="submit">Go Back</button></a>
    <form action="/egypt/<%=egypt._id%>?_method=DELETE" method="POST"><button type="submit">Delete <%= egypt.name%></button></form>
</body>
</html>